<app-base-page>
  <div class="main-content d-flex flex-row">

    <div class="content d-flex justify-content-center align-items-center flex-grow-1">

      <form class="main-form border-end rounded p-3" (ngSubmit)="loginUser()">
        <div class="mb-3">
          <label for="usernameInput" class="form-label">Usuário:</label>
          <input type="text" class="form-control" id="usernameInput" #usernameInput>
        </div>

        <div class="mb-3">
          <label for="passwordInput" class="form-label">Senha:</label>
          <input type="password" class="form-control" id="passwordInput" #passwordInput>
        </div>

        <div class="mb-3">
          <span class="fw-bold fs-6 pointer" (click)="routerPages.toRegister()">
            Não possui uma conta ?
          </span>
        </div>

        <button type="submit" class="btn btn-primary mb-2 mt-2 submit-button bg-blue bg-default-blue-hover">Login</button>
      </form>

    </div>

  </div>
</app-base-page>
