<div class="modal fade" id="baseModal" tabindex="-1" aria-labelledby="baseModal" aria-hidden="true">
  <button #openButton data-bs-toggle="modal" data-bs-target="#baseModal" style="display: none"></button>
  <form [formGroup]="mainForm" (ngSubmit)="updateFood()">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 fw-bold" id="exampleAddModal">Atualizar alimento</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body modal-add">
          <form class="form-add">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatName" formControlName="floatName" #floatName placeholder="nome">
              <label for="floatName">Nome</label>
            </div>
            <div class="row">
              <div class="form-floating mb-3 col">
                <input type="number" class="form-control" id="floatCalories" formControlName="floatCalories" #floatCalories placeholder="calorias">
                <label for="floatCalories">calorias</label>
              </div>

              <div class="form-floating mb-3 col">
                <input type="number" class="form-control" id="floatProteins" formControlName="floatProteins" #floatProteins placeholder="calorias">
                <label for="floatProteins">proteínas</label>
              </div>
            </div>
            <div class="row">
              <div class="form-floating mb-3 col">
                <input type="number" class="form-control" id="floatCarbohydrates" formControlName="floatCarbohydrates" #floatCarbohydrates placeholder="carboidratos">
                <label for="floatCarbohydrates">carboidratos</label>
              </div>

              <div class="form-floating mb-3 col">
                <input type="number" class="form-control" id="floatFats" formControlName="floatFats" #floatFats placeholder="gorduras">
                <label for="floatFats">gorduras</label>
              </div>
            </div>
            <div class="form-floating mb-3">
              <input type="number" class="form-control" formControlName="floatPrice" #floatPrice id="floatPrice" placeholder="preco">
              <label for="floatPrice">preço</label>
            </div>
          </form>
        </div>
        <div class="modal-footer d-flex flex-row justify-content-between">
          <div>
            <button type="button" class="btn btn-warning" (click)="cleanFields()">Limpar campos</button>
          </div>
          <div class="d-flex gap-1">
            <button #closeButton type="button" class="btn btn-danger" data-bs-dismiss="modal" style="display: none">
              Fechar
            </button>
            <button #updateButton type="submit" disabled class="btn btn-primary">
              Atualizar
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
