<app-base-page>
  <div class="main-content d-flex flex-row">
    <app-sidebar></app-sidebar>

    <div class="content w-100 p-2 ms-5">
      <div class="content-foods d-flex flex-column">
        <div>
          <p class="fs-5 fw-semibold">
            Esses são seus alimentos cadastrados
          </p>
        </div>
        <p class="fw-semibold">
          Todos os valores estão baseados em 100g de cada propriedade
        </p>

        <div class="d-flex flex-row mb-2 justify-content-start gap-1">
          <button type="button" class="btn btn-success" (click)="openAddModal()">
            Adicionar
          </button>
          <button type="button" class="btn btn-danger" #removeSelectedButton disabled (click)="removeSelectedFoods()">
            Remover
          </button>
          <button type="button" class="btn btn-primary" #updateSelectedButton disabled (click)="openUpdateModal()">
            Atualizar
          </button>
        </div>

        <app-update-modal #updateModal (updateEvent)="updateSelectedFood($event)"></app-update-modal>

        <app-add-modal #addModal (addEvent)="addFood($event)"></app-add-modal>

        <div>
          <form [formGroup]="tableFormGroup">
            <table class="table table-responsive table-hover table-foods">
              <thead>
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Calorias/100g</th>
                <th scope="col">Proteinas/100g</th>
                <th scope="col">Carboidratos/100g</th>
                <th scope="col">Gorduras/100g</th>
                <th scope="col">Preço/100g</th>
                <th></th>
              </tr>
              </thead>
              <tbody class="table-group-divider">
                @for (food of foods; track food.id) {
                  <tr class="food-item">
                    <td>{{ food.name }}</td>
                    <td>{{ food.calories }}</td>
                    <td>{{ food.proteins }}</td>
                    <td>{{ food.carbohydrates }}</td>
                    <td>{{ food.fats }}</td>
                    <td>{{ food.price }}</td>
                    <td>
                      <input class="form-check-input" type="checkbox" formControlName="food-{{ food.id }}">
                    </td>
                  </tr>
                }
              <tr class="table-group-divider">
                @if (foods.length != 0) {
                  <td><p class="fs-6 fw-semibold">Médias de cada propriedade</p></td>
                  <td><p class="fw-bold">{{ this.caloriesAverage }}</p></td>
                  <td><p class="fw-bold">{{ this.proteinsAverage }}</p></td>
                  <td><p class="fw-bold">{{ this.carbohydratesAverage }}</p></td>
                  <td><p class="fw-bold">{{ this.fatsAverage }}</p></td>
                  <td><p class="fw-bold">{{ this.priceAverage }}</p></td>
                  <td></td>
                }
              </tr>
              </tbody>
            </table>
          </form>
        </div>
      </div>

    </div>
  </div>
</app-base-page>
