<app-base-page>
  <div class="main-content d-flex flex-row">

    <div class="content d-flex justify-content-center align-items-center flex-grow-1">

      <form [formGroup]="mainForm" class="main-form border-end rounded p-3" (ngSubmit)="registerUser()" >
        <div class="mt-2 mb-2 w-100 d-flex flex-column align-items-center">
          <p class="fw-semibold fs-5">
            Seja bem-vindo!
          </p>
        </div>

        <div class="mb-2">
          <label for="nameInput" class="form-label">Nome:</label>
          <input type="text" class="form-control" id="nameInput"
                 [class.red-border]="isNameInvalidTouched"
                 [class.green-border]="isNameValid"
                 formControlName="{{ this.nameControlName }}" aria-describedby="nameBlock">
          <div id="nameBlock" class="form-text">
            O nome deve ter pelo menos 2 caracteres.
          </div>
        </div>

        <div class="mb-2">
          <label for="usernameInput" class="form-label">Nome de usuário:</label>
          <input type="text" class="form-control" id="usernameInput"
                 [class.red-border]="isUsernameInvalidTouched"
                 [class.green-border]="isUsernameValid"
                 [class.orange-border]="isUsernameValid && !isUsernameAvailable"
                 formControlName="{{ this.usernameControlName }}" aria-describedby="usernameBlock">
          <div id="usernameBlock" class="form-text">
            O nome de usuário deve ter pelo menos 4 caracteres e não pode conter espaços.
          </div>
          @if (isUsernameValid && !isUsernameAvailable) {
            <div class="form-text">
              <span>O nome de usuário {{ this.getUsernameControl.value }} não está disponível.</span>
            </div>
          }
        </div>

        <div class="mb-4">
          <label for="emailInput" class="form-label">E-mail:</label>
          <input type="text" class="form-control" id="emailInput"
                 [class.red-border]="!isEmailValid && isEmailTouched"
                 [class.green-border]="isEmailValid"
                 [class.orange-border]="isEmailValid && !isEmailAvailable"
                 formControlName="{{ this.emailControlName }}" aria-describedby="emailBlock">
          <div id="emailBlock" class="form-text">
            @if (!isEmailValid) {
              <span>E-mail inserido inválido.</span>
            } @else if (isEmailValid && !isEmailAvailable) {
              <span>Já existe uma conta associada a este e-mail.</span>
            } @else if (isEmailValid) {
              <span>E-mail válido.</span>
            }
          </div>
        </div>

        <div class="mb-2">
          <label for="passwordInput" class="form-label">Senha:</label>
          <input type="password" class="form-control" id="passwordInput"
                 [class.red-border]="isPasswordInvalidTouched"
                 [class.green-border]="isPasswordValid && areBothPasswordsTheSame"
                 formControlName="{{ this.passwordControlName }}" aria-describedby="passwordBlock">
          <div id="passwordBlock" class="form-text">
            <div class="d-flex flex-column">
              <span [class.green-alert]="passwordHasLeastOneDigit">
                A senha deve conter pelo menos um dígito (0-9).
              </span>
              <span [class.green-alert]="passwordHasLeastOneLowerCase">
                A senha deve conter pelo menos uma letra minúscula (a-z).
              </span>
              <span [class.green-alert]="passwordHasLeastOneUpperCase">
                A senha deve conter pelo menos uma letra maiúscula (A-Z).
              </span>
              <span [class.green-alert]="passwordHasMinLength">
                A senha deve ter pelo menos 8 caracteres.
              </span>
              <span [class.red-alert]="!passwordHasOnlyAllowedSpecialChars">
                A senha pode conter somente os caracteres especiais: $, *, &, {{ '@' }}, #.
              </span>
            </div>
            <div>
              @if (!areBothPasswordsTheSame) {
                <span class="fw-bold red-alert">As senhas não coincidem.</span>
              }
            </div>
          </div>
        </div>

        <div class="mb-2">
          <label for="password2Input" class="form-label">Repita a senha inserida:</label>

          <input type="password" class="form-control" id="password2Input"
                 [class.red-border]="isPasswordInvalidTouched"
                 [class.green-border]="isPasswordValid && areBothPasswordsTheSame"
                 formControlName="password2Input">
        </div>

        <div class="mb-3">
          <span class="align-items-center fw-bold fs-6 pointer" (click)="routerPages.toLogin()">
            Já possui uma conta ?
          </span>
        </div>

        <button type="submit" class="btn btn-primary mb-2 mt-2 submit-button bg-blue bg-default-blue-hover">
          Registrar
        </button>

      </form>
    </div>

  </div>
</app-base-page>
