.main-content {
  min-height: calc(100vh - 6em);
  position: relative;
  overflow-y: auto;
}

.content {
  height: auto;
}

.main-form {
  background-color: var(--platinum-light);
  min-width: 26em;
}

.submit-button {
  width: 100% !important;
  border: none;
}

.bg-blue {
  background-color: var(--yinmn-blue) !important;
}

.bg-default-blue-hover:hover {
  background-color: var(--yinmn-blue-hover) !important;
}

.pointer:hover {
  cursor: pointer;
}
