<nav [ngClass]="{
  'sidebar-closed': !isSidebarActive,
  'sidebar-open': isSidebarActive}"
     class="sidebar d-flex flex-column p-2 h-100" id="side_nav">

  <div class="sidebar-header w-100 mb-2 p-2 pb-4">
    <i [ngClass]="{
    'gg-chevron-right': !isSidebarActive,
    'gg-chevron-left': isSidebarActive,
    }" class="sidebar-open-close-icon" (click)="toggleSidebar()"></i>
  </div>

  <div [ngClass]="{
  'sidebar-content-hidden': !isSidebarContentVisible,
  'sidebar-content-visible': isSidebarContentVisible,}"
       class="sidebar-content d-flex flex-column justify-content-between h-100">

    <div class="d-grid gap-1">
      <button class="btn btn-primary sidebar-button" type="button">
        <a class="link" routerLink="/home">Página inicial</a>
      </button>
      <button class="btn btn-primary sidebar-button" type="button">
        <a class="link" routerLink="/refeicoes">Refeições</a>
      </button>
      <button class="btn btn-primary sidebar-button" type="button">
        <a class="link" routerLink="/alimentos">Alimentos</a>
      </button>
    </div>
    <div class="d-grid gap-1">
      <button class="btn btn-primary sidebar-button" type="button">
        Sair
      </button>
    </div>

  </div>

</nav>
